.header{
    top: 0%;
    position: fixed;
    overflow: hidden;
    width: 100%;
    left: 0%;
    background-color: cadetblue;
    display: flex;
    flex-wrap: nowrap;
    
    
    align-items: center;
}
body{
    margin: 0;
    
    
        background: url('C:\React Js\download.jpg') ;
    
   

    
}



.navbar{
   background-color: #e9e9e9;
   display: flex;
   flex-direction: row;
   position: absolute;
   right: 2%;
   margin-top: 8px;
   margin-bottom: 8px;
   border-radius: 5px;
  
    

   
    
 

}
.navbar .a{
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    
    
    margin-top: 5px;
    margin-bottom: 5px;
   justify-content: space-between;
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;

    text-decoration: none;
   
    
    
}
.navbar .a:hover{
    background-color: rgb(114, 114, 231);
    box-shadow:0 0 20px 12px rgb(219, 219, 224);
    color: #e9e9e9;
}

.navlogo img{
    
    width: 25px;
    align-items: center;
    padding-right: 5px;
    height: 14px;
    
    
    
    
 }
 .navbar a.active{
     border-radius: 25px;
    background-color: rgb(114, 114, 231);
    box-shadow:0 0 20px 12px rgb(219, 219, 224);
    color: #e9e9e9;
    padding-right: 7px;
    padding-left: 5px;
    padding-bottom: 7px;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: none;

 }


#logo{
    padding: 10px;
    width: 13%;
    height: 10%;
    margin: 5px;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 1%;
    
  

    
    
    justify-content: space-between;
    
}
.video {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    
    height: 100%;
    
    
    
    
    
   
    
}
.sides{
    
    margin-top: 6%;
    padding-right: 1%;
    
   
   
}
section{
    margin-top: 5%;
}
.images{
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 2%;
   right: 0;
   

}
section p{
    
    display: flex;
    text-align: justify;
    padding-right: 2%;
    padding-top: 1%;
    text-justify: inter-cluster;
    
}
.images img{

    width: 30%;
    height: 30%;
    object-fit: cover;
    
   margin-bottom: 2%;
   margin-right: 2%;
   
   
   justify-content: space-between;
   
}
section img:hover{
    box-shadow:0 0 20px 12px rgb(71, 67, 67)
}
.foot{
    
    display: flex;
    margin-top: 2%;
    justify-content: center;
    background-color: rgb(66, 64, 64);
}
.foot > div{
    background-color: rgb(54, 49, 49);
    margin: 1%;
    padding: 2%;   
}
.foot a{
    color: aliceblue;
    padding: 2%;
    text-decoration: none;
}
.foot h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: center;
}
.foot ul{
   
    color: aliceblue;
}
.foot> div:hover{
    box-shadow:0 0 20px 12px rgb(10, 10, 10);
}
.foot a:hover{
    background-color: black;
}
.navbar .b{
    margin-right: 13px;
}
@media only screen and (min-width:300px) and (max-width:500px) {
    .navbar{
        margin-left: 20%;
    }
    
}
        